/* Pages force rebuild comment. @260427-1-2211 */

/*
Font discussion:
> https://chatgpt.com/c/69f0f87c-db58-83eb-bb53-21492ab8d062 : war
*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #444;
    color: #BBB;

    background-image: url("../../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/*====================*/
/*====================*/
/*====================*/

.cl_positionAbsolute {
    position: absolute;
}

.cl_spaceButton {
    font-size: 2vh;

    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.cl_arrowButton {
    font-size: 7vh;

    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.cl_gameArea {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(20, 1fr);

    width: 100%;
    aspect-ratio: 1;

    /*box-sizing: content-box;*/
    box-sizing: border-box;

    border-radius: 2vh;
}

.cl_gameArea > div {
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;
    box-sizing: content-box;*/
    border-radius: 50%;
    /*border: 1px solid #0005;*/
}

.cl_gameButton {
    width: 9vh;
    height: 4vh;
    font-size: 1.8vh;

    margin: 0.4vh;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.cl_displayNone {
    display: none;
}

.cl_grid-3x3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.2vh;

    height: 30vh;
    aspect-ratio: 1;

    /*border: 3px solid red;*/
}

.cl_button-100pctFill {
    width: 100%;
    height: 100%;
}

.cl_center {
    grid-column: 2;
    grid-row: 2;
}

.cl_top {
    grid-column: 2;
    grid-row: 1;
}

.cl_right {
    grid-column: 3;
    grid-row: 2;
}

.cl_bottom {
    grid-column: 2;
    grid-row: 3;
}

.cl_left {
    grid-column: 1;
    grid-row: 2;
}

/*====================*/
/*====================*/
/*====================*/

#id_gameContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    /*border: 1px solid blue;*/
}

/* > https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Grid_layout/Box_alignment */
#id_gameAreaContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    box-sizing: content-box;


    height: 48vh;
    aspect-ratio: 1;

    /*border: 1px solid red;*/
    margin: 2vh;
}

#id_mainGameArea {
}
 
#id_gameAreaOverlay1 div {
    box-sizing: content-box;
    /*border: 1px solid green;*/
}

#id_tb_controlButtons {
    display: none;
    table-layout: fixed;
    width: 30vh;
    aspect-ratio: 7;
}

#id_tb_controlButtons button {
    width: 100%;
    height: 100%;
    /*color: red;*/
    font-weight: bold;
}

#id_controlPanel {
    display: flex;
    flex-direction: row;
    /*border: 1px solid green;*/
}

#id_blackoutArea {
    position: absolute;

    height: 48vh;
    aspect-ratio: 1;

    background-color: rgba(0, 80, 94, 0.6);
    border-radius: 2vh;

    pointer-events: none;

    opacity: 0;
    backdrop-filter: none;
    transition: opacity 0.3s, backdrop-filter 0.5s;
}

#id_blackoutArea.active {
    opacity: 1;
    backdrop-filter: blur(10px);
}

#id_tb_gameStats {
    width: 48vh;
    /*border: 1px solid red;*/
    /*border-radius: 1vh;*/
    table-layout: fixed;
}

#id_tb_gameStats td {
    text-align: center;
    color: white;
    background-color: #000a;
    border-radius: 1vh;
    font-size: 2vh;
}

#id_gameAreaFrame {
    position: relative;

    height: 48vh;
    aspect-ratio: 1;

    box-sizing: content-box;

    border: 6px solid brown;
    border-style: ridge;
    border-radius: 2vh;
    box-shadow: 0 0 3px 3px #000a, inset 0 0 3px 3px #fff7;
}

#id_hiScores {
    position: fixed;
}

#id_description {
    position: fixed;
}

#id_overlay {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    opacity: 0;
    backdrop-filter: none;
    transition: opacity 0.5s, backdrop-filter 0.5s;

    pointer-events: none;
}

#id_overlay.active {
    opacity: 1;
    backdrop-filter: blur(5px);

    pointer-events: auto;
}

/*====================*/
/*====================*/
/*====================*/

@media (pointer: coarse) {
    #id_tb_controlButtons {
        display: block;
    }
}





