/* Pages force rebuild comment. @260427-1-2211 */

/*
Font discussion:
> https://chatgpt.com/c/69f0f87c-db58-83eb-bb53-21492ab8d062 : war
*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #444;
    color: #BBB;

    background-image: url("../../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/*====================*/
/*====================*/
/*====================*/

.cl_positionAbsolute {
    position: absolute;
}

.cl_spaceButton {
    font-size: 2vh;

    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.cl_arrowButton {
    font-size: 7vh;

    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.cl_gameArea {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(20, 1fr);

    width: 100%;
    aspect-ratio: 1;

    /*box-sizing: content-box;*/
    box-sizing: border-box;

    border-radius: 2vh;
}

.cl_gameArea > div {
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;
    box-sizing: content-box;*/
    border-radius: 50%;
    /*border: 1px solid #0005;*/
}

.cl_gameButton {
    width: 10vh;
    height: 4vh;
    font-size: 2vh;

    margin: 0.4vh;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.blurred {
    backdrop-filter: blur(5px);
}

/*====================*/
/*====================*/
/*====================*/

#id_gameContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid blue;
}

/* > https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Grid_layout/Box_alignment */
#id_gameAreaContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    box-sizing: content-box;


    height: 50vh;
    aspect-ratio: 1;

    /*border: 1px solid red;*/
    margin: 2vh;
}

#id_mainGameArea {
}
 
#id_gameAreaOverlay1 div {
    box-sizing: content-box;
    border: 1px solid green;
}

#id_tb_controlButtons button {
    width: 10vh;
    height: 10vh;
    /*color: red;*/
    font-weight: bold;
}

#id_controlPanel {
    display: flex;
    flex-direction: row;
    /*border: 1px solid green;*/
}

#id_blackoutArea {
    position: absolute;

    height: 50vh;
    aspect-ratio: 1;

    background-color: #0000;
    border-radius: 2vh;
}

#id_tb_gameStats {
    width: 50vh;
    /*border: 1px solid red;*/
    /*border-radius: 1vh;*/
    table-layout: fixed;
}

#id_tb_gameStats td {
    text-align: center;
    color: white;
    background-color: #000a;
    border-radius: 1vh;
    font-size: 2vh;
}

#id_gameAreaFrame {
    position: relative;

    height: 50vh;
    aspect-ratio: 1;

    box-sizing: content-box;

    border: 6px solid brown;
    border-style: ridge;
    box-shadow: 0 0 3px 3px #000a, inset 0 0 3px 3px #fff7;
}
